.main{
    font-size: 24px;
    text-align: center;
}

.litle{
   font-size: 12px;
   text-align: center;
   position: relative;
   top: 800px;

}
.image-follow {
    width: 128px;
    height: 128px;
    object-fit: cover;
    position: fixed;
}

body{
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
}

h1{
    align-content: center;
    text-align: center;
    z-index: 200;
    position: relative;
    top: 400px;
}

.type-helvetica {
    font-family: Helvetica;
    color: white;
    font-weight: 400;
}

.full-link {
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

}

.center {
    margin: auto;
}