.image-follow {
    width: 128px;
    height: 128px;
    object-fit: cover;
    position: fixed;
}

.full-link {
    position: fixed;
    align-items: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.center {
    margin: auto;
}