html{
    background-color: black;
}

body, h1,h2,h3, h4, h5, h6, p {
    margin: 0;
}

h1,h2,h3{
    font-weight: 400;
    font-size: 16px;
    justify-content: flex-start;
}

h4{
    font-weight: 400;
    font-size: 16px;
}

h5{
    font-weight: 400;
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul ul {
    display: none;
    padding-left: 44px;
}

li:hover > ul {
    display: block;
}

li {
    margin-bottom: 4px;
}

/*
    Header
*/

.header-logo {
    width: 33.3%;
}

.header-logo img{
    width: 154px;
}

.header-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.header-list li {
    margin-right: 22px;
}

.species-img {
    background-color: aqua;
    width: 100%;
    height: 100%;
}

/*
    Padding
*/

.padding-small {
    padding: 22px;
}

/*
    Flex & Grid
*/

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.grid-12 {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 9px
}


/*
    Colors
*/

.color-white {
    color: white;
}


/*
    Typography
*/

.type-helvetica {
    font-family: Helvetica;
}

.type-monospaced {
    font-family: monospace;
}

.container{
    display: flex;
    justify-content: flex-start;
    height: 61px;
    width: 421px;
    color: black;
    justify-content: space-between;
    margin-left: 212px;
}


.taxonomy{
    display:flex;
}
