*{
    box-sizing: border-box;
}

html{
    background-color: black;
}

body, h1,h2,h3, h4, h5, h6, p {
    margin: 0;
}

h1,h2,h3{
    font-weight: 400;
    font-size: 16px;
    justify-content: flex-start;
}

h4{
    font-weight: 400;
    font-size: 16px;
}

h5{
    font-weight: 400;
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul ul {
    display: none;
    padding-left: 44px;
}

ul.open {
    display: block;
}

li {
    margin-bottom: 4px;
}

h2 >strong{
    margin-right: 5px;
}

a {
    color: white;
    text-decoration: none;
}

header{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/*
    Header
*/

.header-logo {
    width: 33.3%;
}

.header-logo img{
    width: 154px;
}

.header-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.header-list li {
    margin-right: 22px;
}

.species-img {
    width: 100%;
    height: 92.5%;
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
}

/*
    Padding
*/

.padding-small {
    padding: 22px;
}

/*
    Flex & Grid
*/

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.grid-6 {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 9px;
}


/*
    Colors
*/

.color-white {
    color: white;
}


/*
    Typography
*/

.type-helvetica {
    font-family: Helvetica;
}

.type-monospaced {
    font-family: monospace;
}

.monospaced-small{
    font-size: 10px;
}

.container{
    display: flex;
    justify-content: flex-start;
    height: 61px;
    width: 421px;
    color: black;
    justify-content: space-between;
    margin-left: 212px;
}


.taxonomy{
    display:flex;
}

.module-3 {
    width: 33.3%;
    padding-top: 0px;
}

.module-6{
    width: 66.6%;
}

.gallery{
    height: fit-content;
    padding-right: 22px;
}

.margin-main{
    margin-top: 82px;
    margin-bottom: 82px;
}


footer> a> img{
    width: 5%;
}