/*
    ASSOCIAR COR
    SCROLL HORIZONTAL
*/

*{
    box-sizing: border-box;
}

html{
    background-color: black;
}

body, h1,h2,h3, h4, h5, h6, p {
    margin: 0;
}


h1,h2,h3{
    font-weight: 400;
    font-size: 16px;
    justify-content: flex-start;
}

h4{
    font-weight: 400;
    font-size: 16px;
}

h5{
    font-weight: 400;
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul ul {
    display: none;
    padding-left: 44px;
}

li> ul {
    display: block;
}


header{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: flex-end;
}

.header-logo {
    width: 33.3%;
}

.header-logo img{
    width: 154px;
}

.header-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.footer-list {
    list-style-type: circle;
    list-style: disc;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.header-list li {
    margin-right: 22px;
}

/*
    Padding
*/

.padding-small {
    padding: 22px;
}

.flex{
    display: flex;
}

.flex-list, .flex-list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.height-column{
    height: 80vh;
}


/*
    Colors
*/

.color-white {
    color: white;
}

.phylum{
    color: rgb(20, 255, 15);
}
.subphylum{
    color:rgb(160, 214, 180);
}
.order{
    color: rgb(0, 255, 255);
}
.suborder{
    color: rgb(230, 145, 255);
}
.clade{
    color: rgb(245, 252, 197);
}
.subclade{
    color: rgb(197, 245, 252);
}
.family{
    color: rgb(197, 245, 0);
}

.type-helvetica {
    font-family: Helvetica;
    font-size: 12px;
}

.margin-main{
    margin-top: 78px;
    margin-bottom: 78px;
}

.padding-top-none{
    padding-top: 0;
}

footer> a> img{
    width: 3%;
    margin-right: 8%;
    align-items: flex-end;
}

.list-nom{
    list-style-position: inside;
    align-items: flex-end;
}

a {
    text-decoration: none;
    color: white;
}