/*
    Padding
*/

.padding-small {
    padding: 22px;
}


/*
    Colors
*/

.color-white {
    color: white;
}

.monospaced-small{
    font-size: 12px;
    margin-bottom: 9px;
}



.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: -1;
    width: 100%;
    /*transform: translate(-50%, -50%);
    /* filter: grayscale(1); */
    opacity: 0.8;
    filter: grayscale(1);
    
}

tr:hover + .fullscreen-image {
    display: block;
}

main {
    margin-top: 62px;
}