/*
    FALTA ANIMAÇÃO
*/

*{
    box-sizing: border-box;
}

html{
    background-color: black;
}

body, h1,h2,h3, h4, h5, h6, p {
    margin: 0;
}

h1,h2,h3{
    font-weight: 400;
    font-size: 16px;
    justify-content: flex-start;
}

h4{
    font-weight: 400;
    font-size: 16px;
}

h5{
    font-weight: 400;
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul ul {
    display: none;
    padding-left: 44px;
}

li:hover > ul {
    display: block;
}

li {
    margin-bottom: 4px;
}

h2 >strong{
    margin-right: 5px;
}

a {
    color: white;
    text-decoration: none;
}

header{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: flex-end;
}

main {
    margin-top: 62px;
}

th {
    text-align: left;
}

table {
    width: 100%;
}

/*
    Header
*/

.header-logo {
    width: 33.3%;
}

.header-logo img{
    width: 100px;
}

.header-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.header-list li {
    margin-right: 22px;
}



/*
    Padding
*/

.padding-small {
    padding: 22px;
}

/*
    Flex & Grid
*/

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.grid-9 {
    grid-template-columns: 64px 100px repeat(7, 1fr);
    grid-gap: 9px;
}


/*
    Colors
*/

.color-white {
    color: white;
}


/*
    Typography
*/

.type-helvetica {
    font-family: Helvetica;
    font-size: 12px;
}

.type-monospaced {
    font-family: monospace;
    margin-bottom: 9px;
}

strong{
    font-size: 16px;
}

.monospaced-small{
    font-size: 14px;
    margin-bottom: 9px;
}

footer> a> img{
    width: 3%;
}