/*
    Flex & Grid
*/

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.grid-6 {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 9px;
}

.grid-9 {
    grid-template-columns: 64px repeat(8, 1fr);
    grid-gap: 9px;
}