/*
    Typography
*/

@font-face {
    font-family: 'silka';
    src: url('./silkamono-regular-webfont.ttf');
}

@font-face {
    font-family: 'silka-bold';
    src: url('./silkamono-semibold-webfont.ttf');
}

.type-monospaced {
    font-family: monospace;
}

.type-monospaced-regular {
    font-family: 'silka';
}

.type-monospaced-bold {
    font-family: 'silka-bold';
}

.type-helvetica {
    font-family: Helvetica;
    font-size: 12px;
}


.type-body {
    font-size: 16px;
}

.monospaced-small{
    font-size: 10px;
}

.container{
    display: flex;
    justify-content: flex-start;
    height: 61px;
    width: 421px;
    color: black;
    justify-content: space-between;
    margin-left: 212px;
}
